html, body {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);  position: relative;
}
body, html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: black;
}
#phaser {
  display: flex;
  align-items: center;
  justify-content: center;
}